h2 {
    font-family: OrpheusBold;
    font-size: 40px;
}

hr {
    background-color: #a80d26;
    height: 5px;
    border-radius: 3px;
    width: 80px;
    float: left;
    margin-left: 10px;
}

.content-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.header-wrap {
    display: flex;
    justify-content: center;
}

.content-wrap {
    width: 1200px;
}

.red-button {
    background-color: #a80d26;
    border-radius: 20px;
    color: white;
    font-family: IntroBoldCaps;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: 4px solid #a80d26;
    transition: 0.4s;
    display: flex;
    align-content: center;
}

.mar-bottom {
    margin-bottom: 115px;
}

.red-button:hover {
    background-color: white;
    border: 4px solid #a80d26;
    color: #a80d26;
}

.red-button:hover .call-image {
    background: url(../img/call-hov.png) no-repeat;
}

.call-image {
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 10px;
    background: url(../img/call.png) no-repeat;
}


menu {
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-top: 15px;
    width: 1366px;
    z-index: 14;
}

.angle {
    margin-top: -5px;
    margin-left: 10px;
}

.slider-item {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    position: absolute;
    display: none;
}

.slider {
    display: flex;
    justify-content: center;
}

.slide-1 {
    background: url(../img/still-life.jpg) no-repeat;
}

.slider-wrap {
    width: 1920px;
    height: 604px;
}

.slide-title {
    color: white;
    font-size: 42px;
}

.slide-text {
    color: white;
    font-family: IntroHeadR;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 50px;
}

.slide-content {
    width: 550px;
    margin-left: 10%;
}

.yellow-button {
    background-color: #fbc554;
    border: 4px solid #fbc554;
    color: black;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: IntroBoldCaps;
    font-size: 14px;
    transition: 0.4s;
}

.yellow-button:hover {
    background-color: rgb(0%, 0%, 0%, 0);
    color: #fbc554;
}

.slide-button {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 500px;
    z-index: 2;
}

.slide-button:hover {
    background-color: #fbc554;
}

.prev {
    background: url(../img/prev.svg) no-repeat;
    background-color: #a80d26;
    background-size: 15px;
    background-position: 6px 8px;
    margin-left: 3%;
}

.next {
    background: url(../img/next.svg) no-repeat;
    background-color: #a80d26;
    position: absolute;
    background-size: 15px;
    background-position: 8px 8px;
    margin-left: 95%;
}

.basket {
    height: 40px;
    width: 40px;
}

.slide-2 {
    background: url(../img/pizza.jpg) no-repeat;
}

.show {
    display: block;
}

.main-text {
    font-family: IntroHeadR;
    font-size: 22px;
    text-align: justify;
    margin-top: 50px;
    width: 600px;
}

.red-sqad {
    background-color: #a80d26;
    width: 530px;
    height: 335px;
}

.sqad {
    position: absolute;
    margin-top: -315px;
    margin-left: 20px;
    box-shadow: 0.6em 0.6em 10px rgba(122, 122, 122, 0.5);
}

.center-wrap {
    display: flex;
    justify-content: center;
}

.sqad-group {
    margin-top: 50px;
}

.card {
    margin-top: 60px;
    box-shadow: 0.6em 0.6em 10px rgba(122, 122, 122, 0.5);
    padding-bottom: 35px;
    transition: 0.4s;
}

.card:hover {
    transform: translate(-20px, -20px);
    box-shadow: 1em 1em 14px rgba(122, 122, 122, 0.5);
}

.margin-left {
    margin-left: 20px;
}

.mini-title {
    font-family: IntroBoldCaps;
    color: #a80d26;
    font-size: 18px;
}

.date {
    color: #858585;
    font-family: IntroBoldCaps;
    font-size: 13px;
}

.card-text {
    font-family: IntroHeadR;
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.text-group {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-button {
    background-color: #fbc554;
    color: black;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: IntroBoldCaps;
    font-size: 14px;
    transition: 0.4s;
    margin-top: 20px;
    text-align: center;
}

.card-button:hover {
    color: black;
    background-color: #fbb014;
}

.white-number {
    color: white;
}

.margin-bottom {
    margin-bottom: 100px;
}

.margin-top {
    margin-top: 46px;
}

.menu-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;

}

#bottom-menu {
    display: none;
}

.info-wrap {
    display: none;
}

.number-group {
    display: none;
}

.bx_catalog_line {
    width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.bx_catalog_line_ul {
    width: 100%;
    margin-top: 20px;
}

.bx_catalog_line_ul li {
    display: inline-block;
    padding-left: 30px;
}

.bx_catalog_line_img {
    margin-left: 30px;
    width: 125px;
    height: 125px;
    outline: none;
}

.bx_catalog_line_title a {
    font-family: IntroBoldCaps;
    font-size: 18px;
    color: black !important;
}

.bx_catalog_line_title span {
    font-family: IntroBoldCaps;
    font-size: 18px;
}

.catalog-section {
    width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-item-big-card .product-item-image-wrapper {
    margin-top: 0px;
    padding-top: 290px;
}

.product-item-list-col-3 {
    margin-bottom: 50px;
}

h1 {
    font-family: OrpheusBold;
    font-size: 48px;
    margin-left: 20px;
}

.product-item-title {
    font-family: IntroBoldCaps;
    font-size: 18px;
    color: black;
}

.card-img-top {
    width: 600px !important;
    height: auto !important;
}

.news-detail {
    width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.news-detail-title {
    font-family: OrpheusBold;
    font-size: 36px;
    margin-left: 20px;
    text-align: center;
}

.news-detail-content {
    font-family: IntroHeadR;
    font-size: 22px;
    text-align: justify;
}

.news-detail-other {
    font-family: IntroBoldCaps;
    color: black;
    font-size: 18px;
}

.item-inline {
    display: flex;
    justify-content: space-around;
}

.big-text {
    font-size: 36px;
}

.news-detail-img {
    padding-right: 0px;
}

.padding-right-minus {
    padding-right: 0px;
}

.padding-left-munus {
    padding-left: 0px !important;
}

@media screen and (max-width: 468px) {
    .red-button {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    menu {
        display: block;
        background-color: #a80d26;
        padding-left: 0px;
        width: 100%;
        margin-top: 0px;
    }

    .bx_catalog_line_ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bx_catalog_line_img {
        width: 125px !important;
        height: 125px !important;
        margin-left: 20px;
    }

    .news-detail {
        width: 100%;
    }

    .card-img-top {
        width: 97% !important;
    }

    .inner-item {
        padding-bottom: 10px;
        padding-top: 10px;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: white;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: black;
    }

    .inner-item a {
        text-align: start;
    }

    .menu-link {
        line-height: 30px;
        padding-top: -10px;
    }


    .slide-content {
        width: 95%;
        margin-left: 0px;
        padding-left: 20px;
        margin-right: 0px;
    }

    .slide-text {
        width: 100%;
        margin-right: 0px;
        padding-right: 0px;
    }

    .slider-item {
        padding-top: 90px;
    }

    .next {
        margin-left: 85%;
        background-position: 16px 14px;
    }

    .slide-button {
        height: 50px;
        width: 50px;
        border-radius: 30px;
        background-size: 20px;
    }

    .prev {
        background-position: 14px 14px;
        margin-left: 70%;
    }

    main {
        width: 100%;
        margin-top: 60px;
    }

    .main-text {
        width: 100%;
        margin-top: 30px;
    }

    .mar-bottom {
        margin-bottom: 0px;
    }

    .col-lg-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .red-sqad {
        display: none;
    }

    .sqad {
        position: static;
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 80px;
    }

    .sqad-group {
        margin-top: 0px;
    }

    .card {
        margin-top: 25px;
    }

    #bottom-menu {
        margin-top: 100px;
        background-color: white;
        margin-bottom: 0px;
        display: block;
    }

    .rotate {
        transform: rotate(270deg);
    }

    .info-text {
        font-family: IntroBoldCaps;
        font-size: 12px;
    }

    .red-info {
        color: #a80d26;
    }

    .info-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 40px;
    }

    .bold-info {
        font-size: 16px;
        font-weight: bold;
    }

    .info-text-big {
        font-family: IntroBoldCaps;
        font-size: 22px;
        text-align: justify;
        color: #a80d26;
        width: 100%;

    }

    .bold-info-big {
        font-size: 30px;
        font-weight: bold;
        color: black;
        margin-left: 50px;
    }

    .number-group {
        margin-top: 50px;
        margin-bottom: 90px;
        margin-left: 10%;
        display: block;
    }

    .justufi_group {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .margin-left {
        margin-left: 110px;
    }
}