footer {
    background-color: #1b231f;
    height: 480px;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-block_padding {
    padding-left: 130px;
}

.footer-wrap {
    width: 1366px;
}

.text-center {
    text-align: center;
}

.contacts {
    display: none;
}

.footer-block__group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.footer-block__contact-icon {
    height: 20px;
    width: 20px;
    margin-right: 25px;
}

.footer-block__item_block {
    display: block;
    margin-top: 20px;
}

.footer-block__text {
    color: white;
    font-family: IntroHeadR;
    font-size: 16px;
    text-align: justify;
    margin-top: 35px;
}

.white-text {
    color: white;
}

.white-text:hover {
    color: white;
}

.social__icon {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    transition: 0.4s;
    margin-left: 25px;
}

.footer-block__item {
    font-family: IntroBoldCaps;
    color: white;
    font-size: 15px;
}

.footer-block__item_underline {
    text-decoration: underline;
}

.facebook {
    background: url(../img/facebook.png) no-repeat;
    margin-left: 0px !important;
}

.facebook:hover {
    background: url(../img/facebook-hov.png) no-repeat;
}

.social {
    margin-top: 30px;
}

.twitter {
    background: url(../img/twitte.png) no-repeat;
}

.twitter:hover {
    background: url(../img/twitte-hov.png) no-repeat;
}

.google {
    background: url(../img/google.png) no-repeat;
}

.google:hover {
    background: url(../img/google-hov.png) no-repeat;
}

.insta {
    background: url(../img/insta.png) no-repeat;
}

.insta:hover {
    background: url(../img/insta-hov.png) no-repeat;
}

.footer-block__title {
    font-family: IntroBoldCaps;
    color: #575755;
    font-size: 18px;
    display: block;
    margin-bottom: 30px;
}

.footer-block__item_yellow {
    color: #fbb014;
}

.footer-block__item_yellow:hover {
    color: #fbb014;
}

.footer-block__item_indent {
    text-align: start;
}

@media screen and (max-width: 468px) {

    .footer-block__white-logo {
        display: none;
    }

    .footer-block__text {
        display: none;
    }

    .contacts {
        margin-bottom: 70px;
        display: block;
    }

    .span-text {
        text-align: start;
        font-size: 20px;
    }

    .footer-block__item {
        font-size: 20px;
    }

    .footer-block {
        display: none;
    }

    .footer-block_show {
        display: block;
    }
}