h2 {
    font-family: $title-font;
    font-size: 40px;
}

hr {
    background-color: $main-color;
    height: 5px;
    border-radius: 3px;
    width: 80px;
    float: left;
    margin-left: 10px;
}

.content-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }
}

.info__item_margin_top {
    margin-top: 5px;
    line-height: 30px;
}

.content-wrap {
    width: 1200px;
}

menu {
    list-style-type: none;
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-top: 15px;
    width: 1366px;
    z-index: 14;
}

.angle {
    margin-top: -5px;
    margin-left: 10px;
}

.slider__item {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    position: absolute;
    display: none;
}

.slider {
    display: flex;
    justify-content: center;
}

.slide-1 {
    background: url(../img/still-life.jpg) no-repeat;
}

.slider-wrap {
    width: 1920px;
    height: 604px;
}

.slider__title {
    color: white;
    font-size: 42px;
}

.slider__text {
    color: white;
    font-family: $text-font;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 50px;
}

.slider__content {
    width: 550px;
    margin-left: 10%;
}

.slider__yellow-button {
    background-color: $button-color;
    border: 4px solid $button-color;
    color: black;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $menu-font;
    font-size: 14px;
    transition: 0.4s;

    &:hover {
        background-color: rgba(0%, 0%, 0%, 0);
        color: $button-color;
    }
}

.slider__button {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 500px;
    z-index: 2;

    &:hover {
        background-color: $button-color;
    }
}

.prev {
    background: url(../img/prev.svg) no-repeat;
    background-color: $main-color;
    background-size: 15px;
    background-position: 6px 8px;
    margin-left: 3%;
}

.next {
    background: url(../img/next.svg) no-repeat;
    background-color: $main-color;
    position: absolute;
    background-size: 15px;
    background-position: 8px 8px;
    margin-left: 95%;
}

.basket {
    height: 40px;
    width: 40px;
}

.slide-2 {
    background: url(../img/pizza.jpg) no-repeat;
}

.slider__item_show {
    display: block;
}

.text-block__text {
    font-family: $text-font;
    font-size: 22px;
    text-align: justify;
    margin-top: 50px;
    width: 100%;
}

.sqad__red-sqad {
    background-color: $main-color;
    width: 530px;
    height: 335px;
}

.sqad__image {
    position: absolute;
    margin-top: -315px;
    margin-left: 20px;
    box-shadow: $shadow;
}

.center-wrap {
    display: flex;
    justify-content: center;
}

.sqad {
    margin-top: 50px;
}

.event {
    margin-top: 60px;
    box-shadow: 0.6em 0.6em 10px $shadow;
    padding-bottom: 35px;
    transition: 0.4s;

    &:hover {
        transform: translate(-20px, -20px);
        box-shadow: $shadow-hover;
    }
}


.margin-left {
    margin-left: 20px;
}

.event__title {
    font-family: $menu-font;
    color: $main-color;
    font-size: 18px;
}

.event__date {
    color: #858585;
    font-family: $menu-font;
    font-size: 13px;
}

.event__text {
    font-family: $text-font;
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.event__group {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.event__button {
    background-color: $button-color;
    color: black;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: $menu-font;
    font-size: 14px;
    transition: 0.4s;
    margin-top: 20px;
    text-align: center;

    &:hover {
        color: black;
        background-color: $button-hover;
    }
}

.margin-bottom {
    margin-bottom: 100px;
}

.margin-top {
    margin-top: 46px;
}

.menu-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;

}

#bottom-menu {
    display: none;
}

.info-wrap {
    display: none;
}

.number-group {
    display: none;
}

.bx_catalog_line {
    width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.bx_catalog_line_ul {
    width: 100%;
    margin-top: 20px;
}

.bx_catalog_line_ul li {
    display: inline-block;
    padding-left: 30px;
}

.bx_catalog_line_img {
    margin-left: 30px;
    width: 125px;
    height: 125px;
    outline: none;
}

.bx_catalog_line_title a {
    font-family: $menu-font;
    font-size: 18px;
    color: black !important;
}

.bx_catalog_line_title span {
    font-family: $menu-font;
    font-size: 18px;
}

.catalog-section {
    width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-item-big-card .product-item-image-wrapper {
    margin-top: 0px;
    padding-top: 290px;
}

.product-item-list-col-3 {
    margin-bottom: 50px;
}

h1 {
    font-family: $title-font;
    font-size: 48px;
    margin-left: 20px;
}

.product-item-title {
    font-family: $menu-font;
    font-size: 18px;
    color: black;
}

.card-img-top {
    width: 600px !important;
    height: auto !important;
}

.news-detail {
    width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.news-detail-title {
    font-family: $title-font;
    font-size: 36px;
    margin-left: 20px;
    text-align: center;
}

.news-detail-content {
    font-family: $text-font;
    font-size: 22px;
    text-align: justify;
}

.news-detail-other {
    font-family: $menu-font;
    color: black;
    font-size: 18px;
}

.item-inline {
    display: flex;
    justify-content: space-around;
}

.big-text {
    font-size: 36px;
}

.news-detail-img {
    padding-right: 0px;
}

.padding-right-minus {
    padding-right: 0px;
}

.padding-left-munus {
    padding-left: 0px !important;
}

.info__item_flex {
    display: flex;
    justify-content: space-around;
}

.info__text_font-size-22 {
    font-size: 22px;
}

.info__text_font-size-30 {
    font-size: 30px;
}

.info_margin {
    margin-top: 55px;
    margin-bottom: 90px;
}

.info__item_margin-top {
    margin-top: 30px;
}

@media screen and (max-width: 468px) {
    .info_blok {
        display: block !important;
    }

    header {
        justify-content: space-between;
    }

    menu {
        display: block;
        background-color: $main-color;
        padding-left: 0px;
        width: 100%;
        margin-top: 0px;
    }

    .bx_catalog_line_ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bx_catalog_line_img {
        width: 125px !important;
        height: 125px !important;
        margin-left: 20px;
    }

    .news-detail {
        width: 100%;
    }

    .card-img-top {
        width: 97% !important;
    }

    .menu-link {
        line-height: 30px;
        padding-top: -10px;
    }


    .slider__content {
        width: 95%;
        margin-left: 0px;
        padding-left: 20px;
        margin-right: 0px;
    }

    .slider__text {
        width: 100%;
        margin-right: 0px;
        padding-right: 0px;
    }

    .slider__item {
        padding-top: 90px;
    }

    .next {
        margin-left: 85%;
        background-position: 16px 14px;
    }

    .slider__button {
        height: 50px;
        width: 50px;
        border-radius: 30px;
        background-size: 20px;
    }

    .prev {
        background-position: 14px 14px;
        margin-left: 70%;
    }

    main {
        width: 100%;
        margin-top: 60px;
    }

    .text-block__text {
        margin-top: 30px;
    }

    .mar-bottom {
        margin-bottom: 0px;
    }

    .col-lg-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sqad__red-sqad {
        display: none;
    }

    .sqad__image {
        position: static;
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 80px;
    }

    .sqad {
        margin-top: 0px;
    }

    .event {
        margin-top: 25px;
    }

    #bottom-menu {
        margin-top: 100px;
        background-color: white;
        margin-bottom: 0px;
        display: block;
    }

    .rotate {
        transform: rotate(270deg);
    }

    .info-text {
        font-family: $menu-font;
        font-size: 12px;
    }

    .red-info {
        color: $main-color;
    }

    .info-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 40px;
    }

    .bold-info {
        font-size: 16px;
        font-weight: bold;
    }

    .info-text-big {
        font-family: $menu-font;
        font-size: 22px;
        text-align: justify;
        color: $main-color;
        width: 100%;

    }

    .bold-info-big {
        font-size: 30px;
        font-weight: bold;
        color: black;
        margin-left: 50px;
    }

    .number-group {
        margin-top: 50px;
        margin-bottom: 90px;
        margin-left: 10%;
        display: block;
    }

    .justufi_group {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .margin-left {
        margin-left: 110px;
    }
}