@font-face {
    font-family: 'IntroBoldCaps';
    src: url('../fonts/Intro-Bold-Caps.otf');
}

@font-face {
    font-family: 'IntroHeadR';
    src: url('../fonts/IntroHeadR-Base.otf');
}

@font-face {
    font-family: 'OrpheusBold';
    src: url('../fonts/Orpheus-Bold.otf');
}