$main-color: #a80d26;
$button-color:#fbc554;
$button-hover: #fbb014;
$menu-font: IntroBoldCaps;
$text-font: IntroHeadR;
$title-font: OrpheusBold;
$shadow: 0.6em 0.6em 10px rgba(122, 122, 122, 0.5);
$shadow-hover: 1em 1em 14px rgba(122, 122, 122, 0.5);